.nav__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primari-title-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.nav__link--current {
  position: relative;
  color: $accent-color;
  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
  &:hover,
  &:focus {
    fill: $accent-color;
    color: $accent-color;
  }
}
.nav__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.header__container {
  align-items: center;
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__list {
  margin-left: 94px;
  display: flex;
}
.contacts {
  margin-left: auto;
}
.contacts {
  display: flex;
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
