.logo {
  font-family: $logo-font, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
  padding-top: 25px;
  padding-bottom: 24px;
}
.logo__text--black {
  color: $second-logo-color;
}
.logo__text--white {
  color: $primery-bg-color;
}
