.mobile-menu-button {
  @include desktop {
    display: none;
  }
}
.mobile-menu-button {
  @include tablet {
    display: none;
  }
}
.mobile-menu-button {
  @include phone {
    display: inline-flex;
    fill: $primari-title-color;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    &:focus,
    &:hover {
      fill: $accent-color;
    }
  }
}
.mobile-menu-button__icon-cross
